{% extends 'base.html' %}
{% load static %}


{% block section %}
<h2>All players</h2> 
{% endblock section %}

{% block maincontent %}
<div class="row">
    {% for c in object_list %}
    <div class="col-sm-4">
        <div class="mt-2">
                <div class="card mt-2" style="width: 18rem;">
                    <img src="{% static c.photo %}" alt="{{ c.first_name }}" class="card-img-top img-thumbnail" style="height: 250px;">
                    <div class="card-body">
                      <h5 class="card-title">{{ c.first_name }} {{ c.team.name }} </h5> <br> <br>
                      <a href="{% url 'player-detail' c.id %}" class="btn btn-primary">See More</a>
                    </div>
                </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock maincontent %}