{% extends 'base.html' %}
{% load static %}
{% block section %}
    <h2>{{ object.name }}</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
<div class="row">
    <div class="col-3" >
        <img src="{% static object.shield.url %}" alt="{{ object.name }}" class="card-img-top img-thumbnail" style="height: 250px;width: 220px; ">
    </div>
    <div class="col-6" >
        <img src="{% static object.team.url %}" alt="{{ object.name }}" class="card-img-top img-thumbnail" style="height: 250px;">
    </div>
    <div class="col-3" >
        <a href="{% url 'team-update' object.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'team-delete' object.id %}" class="btn btn-danger">Delete</a>
    </div>
</div>
<br>
<h3>Players</h3>
<div class="row">
   {% for p in object.get_players.all %}
   <div class="col-3">
       <div class="mt-2">
               <div class="card mt-2" style="width: 18rem;">
                   <img src="{% static p.photo.url %}" alt="{{ p.first_name }}" class="card-img-top img-thumbnail" style="height: 250px;">
                   <div class="card-body">
                     <h5 class="card-title">{{ p.first_name }} {{ p.last_name }}</h5> <br> <br>
                     <a href="{% url 'player-detail' p.id %}" class="btn btn-primary">See More</a>
                   </div>
               </div>
       </div>
   </div>
   {% endfor %}
</div>

{% endblock maincontent %}